<include file="Public/header"/>
<body class="J_scroll_fixed">
<div class="wrap jj">

    <ul class="nav nav-tabs">
        <li class="active"><a href="{:U('Carousel/Carousel_show')}">轮播图列表</a></li>

    </ul>
    <div class="common-form">
        <form method="post" action="{:U('Carousel/Carousel_add')}" enctype="multipart/form-data">
            <div class="table_list">
                <table cellpadding="2" cellspacing="2" class="table_form" width="100%">
                    <tbody>
                    <tr>
                        <td width="180">轮播图名称:</td>
                        <td><input type="text" class="input" name="carousel_name" value=""><span class="must_red">*</span></td>
                    </tr>
                    <tr>
                        <td>轮播图:</td>
                        <td><input type="file" class="input" name="carousel_logo" value="" ><span class="must_red">*</span></td>
                    </tr>
                    <tr>
                        <td>官方网站:</td>
                        <td>
                            <input type="text"  name="carousel_url" >*</td>
                        </td>
                    </tr>
                    <tr>
                        <td>排序:</td>
                        <td>
                            <input type="text" name="carousel_sort">
                        </td>
                    </tr>
                    <tr>
                        <td>状态:</td>
                        <td>
                            <select  name="carousel_status">
                                <option value="1">下架</option>
                                <option value="2" selected>上架</option>
                            </select>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn_submit J_ajax_submit_btn">添加</button>
                <!--<a class="btn" href="__URL__">返回</a>-->
            </div>
        </form>
    </div>
</div>
<load href="__PUBLICS__/js/common.js"/>
<script type="text/javascript">
    function org_list($this) {

        art.dialog({
            id:'div_org_list',
            lock : true,
            ok : true ,
            cancel : true,
            title : '选择机构',
            background : '#cccccc',
            opacity : 0.80,
            width : 700,
            height : 500

        });

        $.get('__MODULE__/Train/id_list', {}, function(e) {
            art.dialog({id: 'div_org_list'}).content(e);
        }, 'html');

    }
</script>

</body>
</html>