<include file="Public/header"/>
<body class="J_scroll_fixed">
<div class="wrap jj">
    <ul class="nav nav-tabs">
        <!--<?php if(is_role('user','index')) { ?><li><a href="{:U('brand/add')}">管理员</a></li><?php } ?>-->
       <!--<?php if(is_role('user','add')) { ?><li class="active"><a href="{:U('Brand/show')}">品牌列表</a></li><?php } ?>-->
        <li class="active"><a href="{:U('Brand/add')}">品牌添加</a></li>
    </ul>
    <div class="common-form">
        <form method="post" action="{:U('Brand/do_add')}" enctype="multipart/form-data">
            <div class="table_list">
                <table cellpadding="2" cellspacing="2" class="table_form" width="100%" border="1">
       <th>品牌名称</th>
       <th>品牌logo</th>
       <th>品牌描述</th>
       <th>品牌的官网</th>
       <th>排序</th>
       <th>状态</th>
       <th>添加时间</th>
       <th>操作</th>
                    <volist name="list" id="v">
                        <tr align="center">
                            <td>{$v.brand_name}</td>
                            <td>
                                <img src="__ROOT__/{$v.brand_logo}" alt="" height="60px" width="60px">
                            </td>
                            <td>{$v.brand_summary}</td>
                            <td>{$v.brand_url}</td>
                            <td>{$v.brand_sort}</td>
                            <td>
                                <if condition=" strtoupper($v['brand_status']) eq 1 ">
                                    下架
                                    <elseif condition=" strtoupper($v['brand_status']) eq 2"/>
                                   上架
                                </if>
                            </td>
                            <td> {$v['brand_time']|date="Y-m-d H:i:s",###} </td>
                            <td><a href="__URL__/del?id={$v.brand_id}" >删除</a>||<a href="__URL__/upda?id={$v.brand_id}">修改</a></td>
                        </tr>
                    </volist>
                </table>
                总数 ： {$count} 条 <br>
                页数 ： {$page}
            </div>
        </form>
    </div>
</div>
<load href="__PUBLICS__/js/common.js"/>
<script type="text/javascript">

    function org_list($this) {

        art.dialog({
            id:'div_org_list',
            lock : true,
            ok : true ,
            cancel : true,
            title : '选择机构',
            background : '#cccccc',
            opacity : 0.80,
            width : 700,
            height : 500

        });

        $.get('__MODULE__/Train/id_list', {}, function(e) {
            art.dialog({id: 'div_org_list'}).content(e);
        }, 'html');

    }
</script>

</body>
</html>